__pycache__/
*.py[cod]
*.log

.idea/
.venv/
venv/
env/

.env
local_settings.py

db.sqlite3
db.sqlite3-journal

media/*
!media/avatars/
media/avatars/*
!media/avatars/default.png

htmlcov/
.pytest_cache/
.mypy_cache/

.DS_Store
